# Created by .ignore support plugin (hsz.mobi)
lib
includes
media
dev
errors
shell
downloader
js
.htaccess
.htaccess.sample
CB_LICENSE
CB_README.html
CB_README.markdown
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
mage
package.xml
php.ini.sample
script.php
