<?xml version="1.0"?>
<config>
    <modules>
        <Apedic_Training>
            <version>0.4.1</version>
        </Apedic_Training>
    </modules>
    <frontend>
        <routers>
            <training>
                <use>standard</use>
                <args>
                    <module>Apedic_Training</module>
                    <frontName>traincontroller</frontName>
                </args>
            </training>
            <customer>
                <args>
                    <modules>
                        <apedic_training before="Mage_Customer">Apedic_Training</apedic_training>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>

        <models>
            <sales>
                <rewrite>
                    <order>Apedic_Training_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <apedic_training>
                <class>Apedic_Training_Model</class>
                <resourceModel>apedic_training_resource</resourceModel>
            </apedic_training>
            <apedic_training_resource>
                <class>Apedic_Training_Model_Resource</class>
                <entities>
                    <comments>
                        <table>apedic_training_comments</table>
                    </comments>
                </entities>
            </apedic_training_resource>
        </models>
        <resources>
            <apedic_training_setup>
                <setup>
                    <module>Apedic_Training</module>
                </setup>
            </apedic_training_setup>
        </resources>
        <blocks>
            <apedic_training>
                <class>Apedic_Training_Block</class>
            </apedic_training>
        </blocks>
        <helpers>
            <apedic_training>
                <class>Apedic_Training_Helper</class>
            </apedic_training>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <apedic_training>
                        <class>Apedic_Training_Model_Observer</class>
                        <method>redirectCmsHome</method>
                    </apedic_training>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>